# Ergebnis
/arbeit.pdf

# Temporäre Dateien
/arbeit.aux
/arbeit.bbl
/arbeit.bcf
/arbeit.blg
/arbeit.fdb_latexmk
/arbeit.fls
/arbeit.lof
/arbeit.log
/arbeit.lol
/arbeit.lot
/arbeit.out
/arbeit.run.xml
/arbeit.toc
